<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Where Is Amiel?</title>
  <link rel="stylesheet" href="/screen.css">
</head>
<body>
  <h3>Where is Amiel?</h3>
  <h1><%= ENV['CURRENT_LOCATION'] %></h3>
</body>
</html>
